.quiz-overlay{
position:fixed;
inset:0;
background:rgba(0,0,0,.75);
display:flex;
justify-content:center;
align-items:center;
z-index:9999;
backdrop-filter:blur(6px);
}

.quiz-modal{

width:850px;
max-width:95%;
background:
linear-gradient(
145deg,
#111827,
#1e1b4b,
#111827
);

border-radius:25px;

padding:35px;

color:white;

border:1px solid rgba(99,102,241,.35);

box-shadow:
0 0 40px rgba(99,102,241,.25);

position:relative;

}

.close-quiz{

position:absolute;
top:20px;
right:20px;

background:none;
border:none;

font-size:28px;

color:white;

cursor:pointer;

}

.quiz-top h1{

font-size:40px;

margin-bottom:5px;

}

.quiz-top p{

color:#cbd5e1;

font-size:17px;

margin-bottom:25px;

}

.progress{

height:8px;

background:#2a2f44;

border-radius:30px;

overflow:hidden;

margin-bottom:30px;

}

.progress-fill{

height:100%;

background:
linear-gradient(
90deg,
#7c3aed,
#ec4899
);

transition:.35s;

}

.question-count{

text-align:center;

margin-bottom:25px;

font-size:28px;

}

.question-card{

display:flex;

gap:20px;

align-items:center;

padding:25px;

border-radius:20px;

background:
linear-gradient(
90deg,
rgba(124,58,237,.15),
rgba(236,72,153,.1)
);

margin-bottom:30px;

}

.question-icon{

width:65px;

height:65px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

background:#7c3aed;

font-size:28px;

font-weight:bold;

}

.question-card h3{

font-size:28px;

line-height:1.5;

}

.option{

display:flex;

align-items:center;

gap:20px;

padding:20px;

margin-bottom:18px;

border-radius:16px;

border:1px solid #3b4260;

cursor:pointer;

transition:.3s;

}

.option:hover{

transform:translateX(6px);

border-color:#8b5cf6;

}

.option.selected{

border:2px solid #8b5cf6;

background:rgba(124,58,237,.18);

}

.radio{

width:22px;

height:22px;

border-radius:50%;

border:2px solid white;

}

.option.selected .radio{

background:#8b5cf6;

}

.option span{

font-size:20px;

}

.quiz-buttons{

display:flex;

justify-content:space-between;

margin-top:35px;

}

.prev-btn,
.next-btn{

padding:16px 35px;

font-size:18px;

border:none;

border-radius:14px;

cursor:pointer;

font-weight:bold;

transition:.3s;

}

.prev-btn{

background:#374151;

color:white;

}

.next-btn{

background:
linear-gradient(
90deg,
#7c3aed,
#ec4899
);

color:white;

}

.prev-btn:hover,
.next-btn:hover{

transform:translateY(-3px);

}

.prev-btn:disabled,
.next-btn:disabled{

opacity:.45;

cursor:not-allowed;

transform:none;

}